:root {
    --clr-black: rgb(22,22,22);
    --clr-border: darkgrey;
    --btn-clr: orange;
    --btn-clr-light: rgb(252, 190, 77);
    --btn-clr-dark: rgb(180, 100, 2);
    --peg-size: 2.5rem;
    font-size: 10px;
    background: var(--clr-black);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.toy-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1rem solid var(--clr-border);
    border-radius: 1rem;
}

/*--CONTROLS BAR START--*/
.controls-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    margin-bottom: 0;
    font-size: 2rem;
    color: white;
}
.buttons-group {
    display: flex;
    align-items: flex-end;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
}
.btn-round {
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 5rem;
    background: var(--btn-clr);
    box-shadow: 
        inset .5rem .5rem .15rem var(--btn-clr-light), /* gloss */
        -.1rem -.1rem .1rem var(--btn-clr), /* top highlight */
        .1rem .1rem .1rem var(--btn-clr-dark), /* bottom lowlight */
        0 0 0 .2rem black; /* outer shadow */
}

.btn-round:active,
.btn-round:focus:not(#reset-button:focus) {

    outline: none;
    box-shadow: 
        inset .5rem .5rem .25rem var(--btn-clr-dark), /* shadow */
        -.1rem -.1rem .1rem var(--btn-clr), /* top highlight */
        inset .1rem .1rem .1rem var(--btn-clr-light); /* bottom lowlight */
}
#reset-button:focus {
    outline: none;
}
input[type=color] {
    position: relative;
    top: 3rem;
    height: 3rem;
    width: 3rem;
    border-radius: 5rem;
    opacity: 0;
}
.btn-switch {
    height: 3rem;
    width: 1.5rem;
    background: var(--btn-clr);
    border: none;
}
.btn-switch:focus {
    outline: none;
}

.heading {
    color: white;
    margin: 0 2rem;
    letter-spacing: .2rem;
}

.slider {
    width: 100%;
}
/*--CONTROLS BAR END--*/

/*--GRID STYLE START--*/
.grid-container {
    display: grid;
    height: 100%;
    margin: 3rem 10%;
}
.peg-hole {
    width: var(--peg-size);
    height: var(--peg-size);
    margin: auto;
    border: .5rem solid transparent;
    border-radius: 3rem;
    background-color: black;
    background-clip: content-box;
    transition: all .07s;
}
.peg-unlit {
    border-color: blue;
    background-image: conic-gradient(from 145deg, rgba(0,0,0,.3),rgba(0,0,0,.7),rgba(0,0,0,.3));
}
.peg-lit {
    border-color: green;
}
/*--GRID STYLE END--*/